.swal2-actions-flex-end {
    justify-content: flex-end !important;
}

.swal2-actions {
    padding: 0px !important;
}

.swal2-actions-space-between {
    justify-content: space-between !important;
}

.swal2-html-container {
    font-size: 15px;
}

.swal2-actions .btn {
    width: 49%;
}
